D:/German Disk/OneDrive/Documentos/Harper Adams Uni/Dissertation/RStat_Dissertation/Hyperspectral/.Rproj.user/shared/notebooks/5524E803-Crazy_lab/1/s/cenbcv4mm0c4l